__azurite_db*__.json
__blobstorage__
__pycache__/
__queuestorage__
.cache
.coverage
.coverage.*
.dmypy.json
.DS_Store
.eggs/
.env
.env*
.hypothesis/
.installed.cfg
.ipynb_checkpoints
.mypy_cache/
.nox/
.parcel-cache
.pyre/
.pytest_cache/
.Python
.python_packages
.python-version
.ropeproject
.scrapy
.spyderproject
.spyproject
.tox/
.venv
.vscode
.webassets-cache
.yarn-integrity
*.cover
*.egg
*.egg-info/
*.log
*.manifest
*.mo
*.pot
*.py[cod]
*.sage.py
*.so
*.spec
**/*.mp3
**/jspm_packages/
**/node_modules/
*$py.class
/site
appsettings.json
backup
bin
build/
cache*
celerybeat-schedule
client/dist
coverage.xml
db.sqlite3
db/store
develop-eggs/
dist
dist/
dmypy.json
docs/_build/
downloads/
eggs/
env
env.bak/
env/
ENV/
htmlcov/
inputs
instance/
ipython_config.py
lib/
lib64/
local_settings.py
local.settings.json
logs
MANIFEST
node_modules
nosetests.xml
npm-debug.log*
obj
out
output
package-lock.json
parts/
pip-delete-this-directory.txt
pip-log.txt
pip-wheel-metadata/
profile_default/
sdist/
server/public
share/python-wheels/
target/
var/
venv.bak/
venv/
wheels/
yarn-debug.log*
yarn-error.log*
docker/*.py
docker/dist/*
docker/env
restart.sh
old
