html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 12pt;
    color: #333;
}

/* Navigator Container */
.navigator-container {
    display: flex;
    height: 100vh;
overflow: hidden;
}

/* Left Panel */
.left-panel {
    width: 25%;
    max-height: 100%;
    overflow-y: auto;
    padding: 10px;
    box-sizing: border-box;
    background-color: #f9f9f9;
border-right: 1px solid #ccc;
display: flex;
flex-direction: column;
overflow: hidden;
}

.filter-container {
    position: relative;
    display: flex;
    align-items: center;
}

.filter-box {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.clear-filter {
    position: absolute;
    right: 10px; /* Adjust spacing as needed */
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2em; /* Adjust size as needed */
    color: #666; /* Adjust color as needed */
    opacity: 0.6;
    transition: opacity 0.2s;
}

.clear-filter:hover {
    opacity: 1;
}

div.playlists, div.songs {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
    height: 5vh;
}
div.playlists h3, div.songs h3{
    margin-bottom: 0.5em;
}

div.songs h3 .info {
    font-size: 0.5em;
    margin-left: 1em;
    font-weight: 300;
    white-space: nowrap;
}

.deselect-all {
    margin-left: 1em;
}

.playlist-list,.song-list {
    flex: 1;
    overflow-y: auto;
    list-style: none;
    padding: 0;
    margin: 0;
    flex-direction: column;
    display: flex;
}

.playlist-item {
    padding: 8px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.2s ease;
}

.song-item {
    padding: 1px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.2s ease;
}

.playlist-item:hover,
.song-item:hover {
    background-color: #f0f0f0;
}

.playlist-item.selected {
    background-color: #ddd;
    font-weight: bold;
}

.song-item.selected {
    background-color: rgb(255, 246, 213);
    font-weight: bold;
}

/* Right Panel */
.right-panel {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
    background-color: #eaeaea;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    flex-direction: row;
}


/* Playlist Details */
.playlist-details {
    width: 33%;
    height: 50%;
    background-color: white;
    border: none;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
    border-radius: 4px;
    overflow-y: auto;
    flex: 0 0 30;
}

.playlist-details.selected {
    background-color: rgb(255, 246, 213);
}

.playlist-details.merge {
    background-color: #e0e0e0;
}

.playlist-details.disabled {
    background-color: #a6a6a6;
    pointer-events: none;
}

.playlist-details h3 {
    margin: 0 0 10px 0;
    flex-shrink: 0;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    color: #333;
}

.playlist-details h3 .info {
    font-size: 0.5em;
    margin-left: 1em;
    font-weight: 300;
    white-space: nowrap;
}

.playlist-details h3 a, .playlist-details h3 a:visited{
    font-size: 0.5em;
    margin-left: 1em;
    font-weight: 300;
    white-space: nowrap;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}

.playlist-details h3 a.clone-button, .playlist-details h3 a.clone-button:visited {
    color: rgb(217, 180, 254);
}

.playlist-details h3 a.delete-button, .playlist-details h3 a.delete-button:visited {
    color: rgb(255, 172, 172)
}

.song-details {
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
    overflow-y: auto;
    max-height: calc(100% - 40px); /* Adjust this to fit the title height */
}

.song-detail-item {
    padding: 4px 0;
    border-bottom: 1px solid #eee;
}

.song-item.repeat, .song-detail-item.repeat {
    color: rgb(229, 119, 2);
}

.song-detail-item:last-child {
    border-bottom: none;
}

.song-index {
    font-size: 0.5em;
    display: inline;
    margin-right: 0.5em;
}

.song-index::after {
    content: ".";
}

.song-name {
    font-size: 11pt;
    font-style: italic;
    display: inline;
}

.song-artist {
    font-size: 0.6em;
    display: inline;
    margin-left: 0.5em;
    padding: 0 0.4em;
    background: rgb(188, 211, 255)
}

.song-duration {
    font-size: 0.6em;
    display: inline;
    margin-left: 0.5em;
    padding: 0 0.4em;
    background: rgb(201, 201, 201)
}

.song-detail-item {
    position: relative;
    padding-right: 40px; /* Ensure space for the icon */
}

.song-detail-item.selected {
    font-weight: bold;
}

.delete-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0; /* Hidden by default */
    transition: opacity 0.2s ease;
    cursor: pointer;
}

.song-detail-item:hover .delete-icon {
    opacity: 1; /* Visible on hover */
}
